.about{
    background: url(/assets/img/bg_header.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
//    padding-top: 0;
   margin-top: 0;
   height: 100vh;
}

.block_information{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width:320px) and (max-width: 425px){
        flex-direction: column;
    }
}

.card{
    height: 200px;
    margin: 15px;
    transition: all 0.33s ease;
    background-color: rgba($color: #fff, $alpha: 0.6);
    .card-title{
        display: flex;
        align-items: center;
        padding: 0;
        &-img{
            width:30px;
            margin-left: 15px;
        }
    }

    &:hover{
        border: 1px solid transparent;
        -webkit-box-shadow: 1px 1px 7px 1px #bdbdbd; 
        box-shadow: 1px 1px 7px 1px #bdbdbd;
        cursor: pointer;
    }

    @media (min-width:320px) and (max-width:680px){
        // margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
    } 

    .card-body{
        .description{
            margin-top: 25px;
        }
    }
    .card-footer{
       text-align: right;
       button{
        background-color: transparent;
        border: 1px solid #48BEFF;
        padding: 5px 15px 5px 15px  ;
        font-size: 12px;
       }
    }
}




.box-list{

    overflow-y: scroll;

}

.control_tabs{

    
    text-align: center;

    button{
        background-color: rgba($color: #48BEFF, $alpha: 0.4);
        border: 1px solid transparent;
        padding:7px 25px;
        i{
            margin-left: 10px;
            color: #fff;
        }
    }

    .mixitup-control-active{
        color: red;
    }
}
