.navigator{
    @media(min-width: 10px)and(max-width:426px){
        display: none;
    }
    padding-top: 25px;
    padding-bottom: 25px;
    &_list{
        justify-content: center;
        display: flex;
        list-style: none;
        padding-left: 0 !important;
    
        &_item{
            margin-left: 10px;
            margin-right: 10px;
            font-family: 'Quicksand', sans-serif;
            font-size: 18px;
            border-bottom: 1px solid transparent;
            padding: 0px;
            transition: all 0.33s ease;
            &:hover{
                border-bottom: 1px solid $default;
                cursor: pointer;
            }
        }
    }
}


