@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './var';
@import './mixins';
@import './navbar';
@import './about';
@import './burger';

h1,h2,h3,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
section{
    padding-top: 120px;
    padding-bottom: 120px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    @include responsive_section;
}

.first_block{
    padding-top: 0;
    background: url('/assets/img/bg.png') no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
}

