@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './var';
@import './mixins';
@import './navbar';
@import './about';
@import './burger';

h1,h2,h3,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
section{
    padding-top: 120px;
    padding-bottom: 120px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    @include responsive_section;
}

.first_block{
    padding-top: 0;
    background: url('/assets/img/bg.png') no-repeat;
    background-size: cover;
    background-position: 0 110%;
    padding-bottom: 210px;
    height: 100%;


    .paradise-welcome{
        padding-top: 150px;

        .col-lg-6{
            margin-top: 5%;
            h1{
                font-size: 50px;
                @media (min-width:10px) and (max-width:426px){
                    font-size: 45px;
                }
                font-weight: 600;
            }
            p{
                font-size: 24px;
                padding-top: 30px;
            }
        }
    }
}

.caption-block{
    h2{
        font-size: 35px;
    }

   

}
.txt_block{
    font-size: 16px;
    padding-top: 28px;
}