.navbar-expand-lg .navbar-collapse{
    justify-content: center;
    justify-items: center;
    text-align: center;

    @media (min-width: 320px) and (max-width:425px){
        font-size: 14px;
        font-weight: bold;
    }


}


.nav-item{
    a{
        color: $default;
    }
}